[submodule "reference/openc910"]
	path = reference/openc910
	url = https://github.com/T-head-Semi/openc910
[submodule "reference/nuclei-e203"]
	path = reference/nuclei-e203
	url = https://github.com/riscv-mcu/e203_hbirdv2
